@model Kurzusok.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Kurzusok";
}

<h1>Kurzusok</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Új hozzáadása</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tárgy kód
            </th>
            <th>
                Név
            </th>
            <th>
            </th>
            <th>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Subjects)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SubjectCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                    <a class="text-dark" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="text-dark" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a class="text-dark" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section SideBar{
    <div class="sidebar">
        <ul class="nav nav-sidebar justify-content-center">
            <li class="nav-item">
                <form class="navbar-form navbar-right" asp-action="SearchResult">
                    <input type="text" name="SearchPhrase" class="form-control" placeholder="Keresés">
                </form>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark dropdown-toggle pl-1" id="dropdownMenu1" data-toggle="dropdown">
                    Link
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    @foreach (var item in Model.Semester)
                    {
                        
                        <li role="presentation"><a class="nav-link text-dark" role="menuitem" tabindex="-1" href="#">@item.Date</a></li>

                    }
                    
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark pl-1" asp-area="" asp-controller="Teachers" asp-action="Index">Statisztika</a>
            </li>
        </ul>
    </div>
}
