@model Subjects
@{
    IList<Programmes> programmes = ViewBag.programmes;
}

<div class="modal editsubjectmodal" id="editSubject">
    <div class="modal-dialog">
        <form asp-action="EditSubjectPost" onsubmit="return ajaxpostBasic(this);">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="editSubjectLabel">Tárgy hozzáadása</h4>
                    <button type="button" class="close" data-dismiss="modal"><span>X</span></button>
                </div>
                <div class="modal-body">
                    <div id="errorAlert" class="alert alert-danger collapse">
                        <button type="button" class="close" data-dismiss="alert"><span>X</span></button>
                        <strong> Hiba! </strong> Rossz, vagy nem megfelelő adatokat akarsz megadni! Helyesen tölts ki minden kötelező mezőt!
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="SubjectId" class="form-control" value="@Model.SubjectId" />
                        <input type="hidden" asp-for="SemesterId" class="form-control" value="@Model.SemesterId" />
                    </div>
                    <div class="form-group">
                        <label asp-for="SubjectCode">Tantárgy kód</label>
                        <input asp-for="SubjectCode" class="form-control" />
                        <span asp-validation-for="SubjectCode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name">Megnevezés</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EHours" class="control-label">Elméleti órák száma</label>
                        <input asp-for="EHours" class="form-control" />
                        <span asp-validation-for="EHours" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="GyHours" class="control-label">Gyakorlati órák száma</label>
                        <input asp-for="GyHours" class="form-control" />
                        <span asp-validation-for="GyHours" class="text-danger"></span>
                    </div>
                    @foreach (var item in Model.ProgrammesLink)
                    {
                        <div class=" Formselect">
                            <div class="row form-group copyThisDiv">
                                <div class="col-4 p-1">
                                    <label>Képzés</label>
                                    <select class="custom-select" name="Programmes">
                                        @foreach (var programme in programmes)
                                        {
                                            string prName = programme.Name + " " + programme.Training;
                                            if (item.ProgrammeId == programme.ProgrammeId)
                                            {
                                                <option value="@programme.ProgrammeId" selected>@prName</option>
                                            }
                                            else
                                            {
                                                <option value="@programme.ProgrammeId">@prName</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="col-4 p-1">
                                    <label>Képzési forma</label>
                                    <select class="custom-select" name="educationType">
                                        @if (item.EducationType == "traditional")
                                        {
                                            <option value="traditional" selected>Hagyományos</option>
                                            <option value="sync">Szinkron</option>
                                            <option value="async">Asszinkron</option>
                                        }
                                        else if (item.EducationType == "sync")
                                        {
                                            <option value="traditional">Hagyományos</option>
                                            <option value="sync" selected>Szinkron</option>
                                            <option value="async">Asszinkron</option>
                                        }
                                        else
                                        {
                                            <option value="traditional">Hagyományos</option>
                                            <option value="sync">Szinkron</option>
                                            <option value="async" selected>Asszinkron</option>
                                        }

                                    </select>
                                </div>
                                <div class="col-3 p-1">
                                    <label>Tárgy típus</label>
                                    <select class="custom-select" name="Obligatory">
                                        @if (item.Obligatory)
                                        {
                                            <option value="1" selected>Kötelező</option>
                                            <option value="0">Választható</option>
                                        }
                                        else
                                        {
                                            <option value="1">Kötelező</option>
                                            <option value="0" selected>Választható</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-1 p-0">

                                    <button type="button" class="btn btn-danger" id="hidedivbutton">x</button>

                                </div>
                            </div>

                        </div>
                    }

                    <div class="teacherMoreSelect" id="toCopy"></div>
                    <button type="button" class="btn btn-secondary" onclick="copyDivContent();">Hozzárendelés másik képzéshez</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Bezárás</button>
                    <div class="form-group">
                        <input type="submit" value="Mentés" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
