@model Kurzusok.Models.Subjects

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Subjects</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GyHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GyHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubjectCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubjectCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SubjectId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
