@model Kurzusok.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Kurzusok";
    string date = Model.CurrentSemester.Date;
    string id = Model.CurrentSemester.Id.ToString();
    string lastSemester = Model.SemestersList.Last().Date;
}
<h1>@date félév</h1>

<p>
    <a class="btn btn-primary" asp-action="Create" asp-route-id="@id">Új tárgy hozzáadása</a>
    <a class="btn btn-danger" asp-action="SemesterDelete" asp-route-id="@id">Félév törlése</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tárgy kód
            </th>
            <th>
                Név
            </th>
            <th>
                Szakok
            </th>
            <th>
                Kurzusok
            </th>
            <th>
                Oktatók
            </th>
            <th>
                Egyéb
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CurrentSemester.Subjects)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SubjectCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @foreach (var programme in item.ProgrammesLink)
                    {
                        @Html.DisplayFor(modelItem => programme.Training)
                        @Html.Raw(" ")
                        @Html.DisplayFor(modelItem => programme.Name)
                        @Html.Raw(" ")
                        @Html.DisplayFor(modelItem => programme.Levels)
                        <br />
                    }
                </td>
                @foreach (var course in item.Courses.Take(1))
                {
                    <td>
                        Típus:
                        @Html.DisplayFor(modelItem => course.CourseType)
                        <br />
                        Kód:
                        @Html.DisplayFor(modelItem => course.CourseCode)
                        <br />
                        Terem:
                        @Html.DisplayFor(modelItem => course.Classroom)
                        <br />
                        Létszám:
                        @Html.DisplayFor(modelItem => course.Members)
                    </td>
                    <td>
                        @foreach (var teacher in course.TeachersLink)
                        {
                            @Html.DisplayFor(modelItem => teacher.Name)
                            <br />
                        }
                    </td>
                }
                @*<td>
                        <a class="text-dark" asp-action="Edit" asp-route-id="@item.SubjectId">Edit</a> |
                        <a class="text-dark" asp-action="Details" asp-route-id="@item.SubjectId">Details</a> |
                        <a class="text-dark" asp-action="Delete" asp-route-id="@item.SubjectId">Delete</a>
                    </td>*@
            </tr>

            @foreach (var course in item.Courses.Skip(1))
            {
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        Típus:
                        @Html.DisplayFor(modelItem => course.CourseType)
                        <br />
                        Kód:
                        @Html.DisplayFor(modelItem => course.CourseCode)
                        <br />
                        Terem:
                        @Html.DisplayFor(modelItem => course.Classroom)
                        <br />
                        Létszám:
                        @Html.DisplayFor(modelItem => course.Members)
                    </td>
                    <td>
                        @foreach (var teacher in course.TeachersLink)
                        {
                            @Html.DisplayFor(modelItem => teacher.Name)
                            <br />
                        }
                    </td>
                    <td></td>
                </tr>
            }

        }
    </tbody>
</table>

@section SideBar{
    <div class="sidebar" id="SideBar" onmouseover="openBar()" onmouseout="closeBar()">
        <ul class="nav nav-sidebar justify-content-center">
            <li class="nav-item">
                <form class="navbar-form navbar-right" asp-area="" asp-controller="Home" asp-action="SearchResult">
                    <input type="text" name="SearchPhrase" class="form-control" placeholder="Keresés">
                </form>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark dropdown-toggle pl-1" id="dropdownMenu1" data-toggle="dropdown">
                    @date
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    @foreach (var item in Model.SemestersList)
                    {
                        if (date != item.Date)
                        {
                            <li role="presentation"><a class="nav-link text-dark" role="menuitem" tabindex="-1" asp-route-currentSemesterId="@item.Id">@item.Date</a></li>
                        }
                    }
                </ul>
            </li>
            <li class="nav-item">
                <form method="post" class="navbar-form navbar-right" asp-area="" asp-controller="Home" asp-action="CreateSemester">
                    <button class="btn text-dark pl-1" type="submit" name="lastSemester" value="@lastSemester">Új félév hozzáadása</button>
                </form>
            </li>
        </ul>
        @*<button class="btn btn-outline-primary" onclick="showSemester()">Új félév hozzáadása</button>
            <div id="semesterForm" style="display:none">
                <form method="post" asp-action="CreateSemester">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label class="control-label"></label>
                        <input name="SemesterName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Hozzáadás" class="btn btn-primary" />
                    </div>
                </form>
            </div>*@
    </div>
}

<script type="text/javascript">
    function openBar() {
        document.getElementById("SideBar").style.width = "200px";
        document.getElementById("SideBar").style.padding = "20px";
        document.getElementById("main").style.paddingLeft = "230px";
        let listElements = document.getElementsByClassName("nav nav-sidebar justify-content-center");
        for (i = 0; i < listElements.length; i++) {
            listElements[i].style.display="inline";
        }
    }
    function closeBar() {
        document.getElementById("SideBar").style.width = "60px";
        document.getElementById("SideBar").style.padding = "0";
        document.getElementById("main").style.paddingLeft = "90px";
        let listElements = document.getElementsByClassName("nav nav-sidebar justify-content-center");
        for (i = 0; i < listElements.length; i++) {
            listElements[i].style.display = "none";
        }
    }
</script>

