@model Kurzusok.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Kurzusok";
    string date = Model.CurrentSemester.Date;
    string id = Model.CurrentSemester.Id.ToString();
    string lastSemester = Model.SemestersList.Last().Date;
}

<div class="container-fluid">
    <h1>@date félév</h1>


    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#applyDelete">
        Félév törlése
    </button>
</div>

<div class="modal fade" id="applyDelete" tabindex="-1" role="dialog" aria-labelledby="applyDelete" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="applyDeleteLabel">Szemeszter törlése</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Biztosan törlni szeretnéd ezt a szemesztert?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Bezárás</button>
                <a class="btn btn-danger" asp-action="SemesterDelete" asp-route-id="@id">Félév törlése</a>

            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    @foreach (var item in Model.CurrentSemester.Subjects)
    {
        <div class="container-fluid border border-dark">
            <div class="row border alert-dark accordion-toggle align-items-center" style="font-size:20px;" data-toggle="collapse" data-target="#@item.SubjectCode">
                <div class="col-4 text-center ">  @Html.DisplayFor(modelItem => item.SubjectCode)</div>
                <div class="col-4 text-center"> @Html.DisplayFor(modelItem => item.Name)</div>
                <div class="col-4 text-left d-flex align-items-end justify-content-end">
                    <button class="btn btn-danger"><span class="fa fa-times "> Törlés</span></button>
                    <button class="btn btn-default btn-xs"><span class="fa  fa-cog" aria-hidden="true"></span></button>
                </div>
            </div>

            <div class="row collapse align-items-center justify-content-center flex-grow-1" id="@item.SubjectCode">
                <div class="col-6 text-center d-flex flex-column container-fluid">
                    <div class="card flex-fill flex-grow-1">
                        <div class="card-header">
                            Heti óraszám
                        </div>
                        <div class="card-body">
                            @if (item.EHours != null)
                            {
                                @Html.Raw("Elmélet: ")
                                @Html.DisplayFor(modelItem => item.EHours)
                                <br />
                            }
                            @if (item.GyHours != null)
                            {
                                @Html.Raw("Gyakorlat: ")
                                @Html.DisplayFor(modelItem => item.GyHours)
                            }
                        </div>
                    </div>
                </div>
                <div class="col-6 text-center d-flex flex-column container-fluid">
                    <div class="card flex-fill flex-grow-1">
                        <div class="card-header">
                            Szakok
                        </div>
                        <div class="card-body">
                            @foreach (var programme in item.ProgrammesLink)
                            {
                                @Html.DisplayFor(modelItem => programme.Programme.Name)
                                @Html.Raw(" ")
                                @Html.DisplayFor(modelItem => programme.Programme.Training)
                                @Html.Raw(" ")
                                @Html.DisplayFor(modelItem => programme.Programme.Levels)
                                <br />
                            }
                        </div>
                    </div>


                </div>
                <div class="col-12 text-center">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">
                                        Kurzus típus
                                    </th>
                                    <th scope="col">
                                        Oktató
                                    </th>
                                    <th scope="col">
                                        Terhelés
                                    </th>
                                    <th scope="col">
                                        Kurzus kód
                                    </th>
                                    <th scope="col">
                                        Óraszám
                                    </th>
                                    <th scope="col">
                                        Terem
                                    </th>
                                    <th scope="col">
                                        Szoftver igény
                                    </th>
                                    <th scope="col">
                                        Létszám
                                    </th>
                                    <th>

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var course in item.Courses)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => course.CourseType)
                                    </td>
                                    <td>
                                        @foreach (var teacher in course.TeachersLink)
                                        {
                                            @Html.DisplayFor(modelItem => teacher.Teacher.Name)
                                            <br />
                                        }
                                    </td>
                                    <td>
                                        @foreach (var teacher in course.TeachersLink)
                                        {
                                            @Html.DisplayFor(modelItem => teacher.Loads)
                                            <br />
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => course.CourseCode)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => course.Hours)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => course.Classroom)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => course.Software)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => course.Members)
                                        @Html.Raw("fő")
                                    </td>
                                    <td>
                                        <button class="btn btn-danger"><span class="fa fa-times "></span></button>
                                        <button class="open_editCourse btn btn-default btn-xs" data-toggle="modal" data-id="ISBN564541" data-target="#editCourse"><span class="fa  fa-cog" aria-hidden="true"></span></button>
                                    </td>


                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="modal fade" id="editCourse" tabindex="-1" role="dialog" aria-labelledby="editCourse" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="applyDeleteLabel">Szemeszter törlése</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Eljutottál a kurzus szerkesztéséig
                    <input type="text" name="bookId" id="bookId" value="" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Bezárás</button>
                    <a class="btn btn-danger">Félév törlése</a>

                </div>
            </div>
        </div>
    </div>


</div>


<div class="table-responsive">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">
                    Tárgy kód
                </th>
                <th scope="col">
                    Név
                </th>
                <th scope="col">
                    Órák
                </th>
                <th scope="col">
                    Szakok
                </th>
                <th scope="col">
                    Kurzus kód
                </th>
                <th scope="col">
                    Kurzus típusa
                </th>
                <th scope="col">
                    Létszám
                </th>
                <th scope="col">
                    Terem, szoftver igény
                </th>
                <th scope="col">
                    Megjegyzés
                </th>
                <th scope="col">
                    Oktatók
                </th>
                <th scope="col">
                    Terhelés
                </th>
                <th scope="col">
                    <a class="btn btn-primary py-0 px-2" asp-action="Create" asp-route-id="@id">Új tárgy felvétele</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CurrentSemester.Subjects)
            {
                int courseCount = item.Courses.Count();
                <tr class="newSubject">
                    <td rowspan="@courseCount">
                        @Html.DisplayFor(modelItem => item.SubjectCode)
                    </td>
                    <td rowspan="@courseCount">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td rowspan="@courseCount">
                        @if (item.EHours != null)
                        {
                            @Html.Raw("Elmélet: ")
                            @Html.DisplayFor(modelItem => item.EHours)
                            <br />
                        }
                        @if (item.GyHours != null)
                        {
                            @Html.Raw("Gyakorlat: ")
                            @Html.DisplayFor(modelItem => item.GyHours)
                        }
                    </td>
                    <td rowspan="@courseCount">
                        @foreach (var programme in item.ProgrammesLink)
                        {
                            @Html.DisplayFor(modelItem => programme.Programme.Name)
                            @Html.Raw(" ")
                            @Html.DisplayFor(modelItem => programme.Programme.Training)
                            @Html.Raw(" ")
                            @Html.DisplayFor(modelItem => programme.Programme.Levels)
                            <br />
                        }
                    </td>
                    @foreach (var course in item.Courses.Take(1))
                    {
                        <td>
                            @Html.DisplayFor(modelItem => course.CourseCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => course.CourseType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => course.Members)
                            @Html.Raw("fő")
                        </td>
                        <td>
                            @if (course.Classroom != null)
                            {
                                @Html.DisplayFor(modelItem => course.Classroom)
                                if (course.Software != null)
                                {
                                    @Html.Raw(", ")
                                    @Html.DisplayFor(modelItem => course.Software)
                                }
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => course.Software)
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => course.Comment)
                        </td>
                        <td>
                            @foreach (var teacher in course.TeachersLink)
                            {
                                @Html.DisplayFor(modelItem => teacher.Teacher.Name)
                                <br />
                            }
                        </td>
                        <td>
                            @foreach (var teacher in course.TeachersLink)
                            {
                                @Html.DisplayFor(modelItem => teacher.Loads)
                                @Html.Raw(" %")
                                <br />
                            }
                        </td>
                    }
                    <td class="newSubject">
                        <a class="text-dark" asp-action="Edit" asp-route-id="@item.SubjectId">Edit</a> |
                        <a class="text-dark" asp-action="Delete" asp-route-id="@item.SubjectId">Delete</a>
                    </td>
                </tr>

                @foreach (var course in item.Courses.Skip(1))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => course.CourseCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => course.CourseType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => course.Members)
                            @Html.Raw("fő")
                        </td>
                        <td>
                            @if (course.Classroom != null)
                            {
                                @Html.DisplayFor(modelItem => course.Classroom)
                                if (course.Software != null)
                                {
                                    @Html.Raw(", ")
                                    @Html.DisplayFor(modelItem => course.Software)
                                }
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => course.Software)
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => course.Comment)
                        </td>
                        <td>
                            @foreach (var teacher in course.TeachersLink)
                            {
                                @Html.DisplayFor(modelItem => teacher.Teacher.Name)
                                <br />
                            }
                        </td>
                        <td>
                            @foreach (var teacher in course.TeachersLink)
                            {
                                @Html.DisplayFor(modelItem => teacher.Loads)
                                @Html.Raw(" %")
                                <br />
                            }
                        </td>
                        <td>
                            <a class="text-dark" asp-action="Edit" asp-route-id="@item.SubjectId">Edit</a> |
                            <a class="text-dark" asp-action="Delete" asp-route-id="@item.SubjectId">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@section SideBar{
    <div class="sidebar" id="SideBar" onmouseover="openBar()" onmouseout="closeBar()">
        <ul class="nav nav-sidebar justify-content-center">
            <li class="nav-item">
                <form class="navbar-form navbar-right" asp-area="" asp-controller="Home" asp-action="SearchResult">
                    <input type="text" name="SearchPhrase" class="form-control" placeholder="Keresés">
                </form>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark dropdown-toggle pl-1" id="dropdownMenu1" data-toggle="dropdown">
                    @date
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    @foreach (var item in Model.SemestersList)
                    {
                        if (date != item.Date)
                        {
                            <li role="presentation"><a class="nav-link text-dark" role="menuitem" tabindex="-1" asp-route-currentSemesterId="@item.Id">@item.Date</a></li>
                        }
                    }
                </ul>
            </li>
            <li class="nav-item">
                <form method="post" class="navbar-form navbar-right" asp-area="" asp-controller="Home" asp-action="CreateSemester">
                    <button class="btn text-dark pl-1" type="submit" name="lastSemester" value="@lastSemester">Új félév hozzáadása</button>
                </form>
            </li>
        </ul>
    </div>
}

<script type="text/javascript">
    function openBar() {
        document.getElementById("SideBar").style.width = "200px";
        document.getElementById("SideBar").style.padding = "20px";
        document.getElementById("main").style.paddingLeft = "230px";
        let listElements = document.getElementsByClassName("nav nav-sidebar justify-content-center");
        for (i = 0; i < listElements.length; i++) {
            listElements[i].style.display = "inline";
        }
    }
    function closeBar() {
        document.getElementById("SideBar").style.width = "60px";
        document.getElementById("SideBar").style.padding = "0";
        document.getElementById("main").style.paddingLeft = "90px";
        let listElements = document.getElementsByClassName("nav nav-sidebar justify-content-center");
        for (i = 0; i < listElements.length; i++) {
            listElements[i].style.display = "none";
        }
    }
</script>

