@model IEnumerable<Kurzusok.Models.Teachers>

@{
    ViewData["Title"] = "Oktatók";
}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div class="w-85 m-auto">
    <div class="container-fluid pt-2 overflow-hidden">
        <h2>Oktatók</h2>
        <button type="button" class="btn btn-primary" data-toggle="add-teacher-modal" data-target="#addTeacher" id="addteacher" data-url="@Url.Action("AddTeacher")">Oktató felvétele</button>
        <form asp-controller="Teachers" asp-action="Search" id="searchform" class="float-right">
            <input type="text" name="search" class="form-control" placeholder="Keresés" />
        </form>
        <div class="clearfix"></div>
    </div>
    <div id="PlaceHolderHere"></div>
    <div class="pt-4">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Név
                    </th>
                    <th>
                        Min. óra/hét
                    </th>
                    <th>
                        Munkakör
                    </th>
                    <th>

                    </th>
                    <th>
                        Kezelés
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Hoursperweek)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Position)
                        </td>
                        <td>
                            @if (!item.IsWorking)
                            {
                                @Html.Raw("Jelenleg nem az egyetem oktatója")
                            }
                        </td>
                        <td>
                            <button class="btn btn-default btn-xs" data-toggle="edit-teacher-modal" data-target="#editTeacher" id="editteacher" data-url="@Url.Action("EditTeacher")" data-id="@item.TeacherId">
                                <span class="far fa-edit" aria-hidden="true"></span>
                            </button>
                            <button class="btn btn-xs" data-toggle="edit-teacher-modal" data-target="#teacherLeft" id="teacherleft" data-url="@Url.Action("TeacherLeft")" data-id="@item.TeacherId">
                                <span class="fas text-danger fa-ban" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>

    <div id="container"><p>Hello</p></div>
</div>

<script>


    Highcharts.chart('container', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Browser market shares in January, 2018'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        accessibility: {
            point: {
                valueSuffix: '%'
            }
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
            }
        },
        series: [{
            name: 'Count',
            colorByPoint: true,
            data: [{
                name: 'Count1',
                y: 5
            }, {
                name: 'Count2',
                y: 4
            }, {
                name: 'Count3',
                y: 1
            }, {
                name: 'Count4',
                y: 1.58
            }]
        }]
    });

</script>
@section Scripts{
    <script src="~/js/teacher.js" asp-append-version="true"></script>
}